<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozermapper.github.io/schema/bean-mapping"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozermapper.github.io/schema/bean-mapping http://dozermapper.github.io/schema/bean-mapping.xsd">
    <mapping map-id="com.example.demo.MapperAutomovilToDTO">
        <class-a>com.example.demo.domain.Automovil</class-a>
        <class-b>com.example.demo.DTO.AutomovilDTO</class-b>
        <field>
            <a>estado.descripcion</a>
            <b>estado</b>
        </field>
    </mapping>
</mappings>
