<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozermapper.github.io/schema/bean-mapping"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozermapper.github.io/schema/bean-mapping http://dozermapper.github.io/schema/bean-mapping.xsd">
    <mapping map-id="com.example.demo.MapperPasanteToDTO">
        <class-a>com.example.demo.domain.Pasante</class-a>
        <class-b>com.example.demo.DTO.PasanteDTO</class-b>
        <field>
            <a>farmacia.nombre</a>
            <b>nombFarmacia</b>
        </field>
        <field>
            <a>farmacia.id</a>
            <b>idFarmacia</b>
        </field>
       <!-- <field>
            <a>titulo.nombre</a>
            <b>titulo</b>
        </field>-->
    </mapping>
</mappings>