<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozermapper.github.io/schema/bean-mapping"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozermapper.github.io/schema/bean-mapping http://dozermapper.github.io/schema/bean-mapping.xsd">
    <mapping map-id="com.example.demo.MapperSolicitudCompraToDTO">
        <class-a>com.example.demo.domain.SolicitudCompra</class-a>
        <class-b>com.example.demo.DTO.SolicitudCompraDTO</class-b>
        <field>
            <a>farmacia.nombre</a>
            <b>nombreFarmacia</b>
        </field>
        <field>
            <a>farmacia.id</a>
            <b>idFarmacia</b>
        </field>
        <field>
            <a>laboratorio.nombre</a>
            <b>nombreLaboratorio</b>
        </field>
        <field>
            <a>laboratorio.id</a>
            <b>idLaboratorio</b>
        </field>
        <field>
            <a>medicamento.nombre</a>
            <b>nombreMedicamento</b>
        </field>
        <field>
            <a>medicamento.id</a>
            <b>idMedicamento</b>
        </field>
    </mapping>
</mappings>