<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozermapper.github.io/schema/bean-mapping"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozermapper.github.io/schema/bean-mapping http://dozermapper.github.io/schema/bean-mapping.xsd">
    <mapping map-id="com.example.demo.MapperStockMedicamentoToDTO">
        <class-a>com.example.demo.domain.StockMedicamento</class-a>
        <class-b>com.example.demo.DTO.StockMedicamentoDTO</class-b>
        <field>
            <a>lugarStock.nombre</a>
            <b>nombre</b>
        </field>
        <field>
            <a>motivoStock.codigo</a>
            <b>motivo</b>
        </field>
    </mapping>
</mappings>