<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozermapper.github.io/schema/bean-mapping"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozermapper.github.io/schema/bean-mapping http://dozermapper.github.io/schema/bean-mapping.xsd">
    <mapping map-id="com.example.demo.MapperToUsuario">
        <class-a>com.example.demo.DTO.UsuarioDTO</class-a>
        <class-b>com.example.demo.domain.Usuario</class-b>
        <field >
            <a>primerApellido</a>
            <b>primApellido</b>
        </field>
        <field>
            <a>segundoApellido</a>
            <b>segApellido</b>
        </field>
    </mapping>
</mappings>
