<?xml version="1.0" encoding="UTF-8"?>
<mappings xmlns="http://dozermapper.github.io/schema/bean-mapping"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://dozermapper.github.io/schema/bean-mapping http://dozermapper.github.io/schema/bean-mapping.xsd">
    <mapping map-id="com.example.demo.MapperVentaToDTO">
        <class-a>com.example.demo.domain.Venta</class-a>
        <class-b>com.example.demo.DTO.ObtenerVentaDTO</class-b>
        <field>
            <a>metodoPago.tipoPago</a>
            <b>tipoPago</b>
        </field>
        <field>
            <a>automovil.matricula</a>
            <b>matriculaAutomovil</b>
        </field>
        <field>
            <a>persona.cedula</a>
            <b>cedulaPersona</b>
        </field>
    </mapping>
</mappings>
